.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  font-size: large;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: rgb(55, 0, 255);
  color: white;
  width: fit-content;
  text-align: center;
  height: fit-content;
  padding: 10px;
  /* Add the css property transition here! 
    transition: 0.3s; 
  */
  transition: all 400ms ease-in-out;
  border-radius: 100px;
}
/* active state */
.hoverMe:hover {
  /* Add your hover state css here.
    background-color:blue;
  */
  
  width: fit-content;
  color: rgb(255, 255, 255);
  height: fit-content;
  font-size: xx-large;
  padding: 30px;
  filter: drop-shadow(10px 5px 10px #2b2b2b);
  border-radius: 100px;
  text-transform: uppercase;
  background-image: url(https://media.tenor.com/VvRTu2KyfyUAAAAd/kanye-face.gif);
  background-position: center;
  background-size: cover;
  

}
