body {
 background-color: darkkhaki;
 margin: auto;
}



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    
  }
  
.myName {
  font-family: Arial;
  font-size: 25px;
  padding: 10px;
  width: 25%;
  display: flex;
  justify-content: start;
}


.nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav {
  width: 25%;
  display: flex;
  justify-content: end;
}

.grid1 {
  border-radius: 6px;
  display: grid;
  height: 164px;
  
  margin: 10%;
  margin-top: 141px;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
  "name empty aboutme"
  "job button aboutme";
}

.name {
  grid-area: name;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  display: flex;
  justify-content: flex-start;
  
}

.jobName {
  grid-area: job;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.introMe {
  grid-area: aboutme;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  display: flex;
  line-height: 15px;
  align-items: center;
}

.smallCTA {
  display: flex;
  grid-area: button;
  padding: 10px;
  align-items: flex-end;
  justify-content: center;
}

.smallCTA a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
  color: black;
  background-color: bisque;
  border-radius: 6px;
  width: fit-content;
  height: fit-content; 
  text-decoration: none;
}

.avatar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.avatar img {
  height: 164px;
  width: 164px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  border-width: 3px;
  border-color:black;
  border-style: solid;
}

.greyText {
  color: rgba(117, 117, 117, 1);
}

